<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wuwei.sbdemo.mapper.SongMapper">


	<resultMap id="songMap" type="com.wuwei.sbdemo.Bean.Song">
		<result column="id" property="id"/>
		<result column="title" property="title"/>
		<result column="singBy" property="singBy"/>
	</resultMap>

	<select id="getSongsBySinger" resultMap="songMap">
		select * from songs
	</select>



</mapper>